@import "fonts";

* {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}

body {
	background-color: #f6fafd;
}

.active {
	color: #c2c2c2;
	cursor: default;
}

.nav-item {
	font-weight: 500;
}

.navbar-brand {
	margin-left: 4rem;

	&::content {
		padding-left: 5px;
	}
}

.dropdown-item > i {
	padding-right: 10px;
}

#navbar {
	background: rgba(0, 0, 0, 0.213);
	transition: all 200ms ease;
	box-shadow: 0px 1px 3px 0px #0000003d;
}

.navbar-toggler {
	padding: 0.5rem 0.5rem !important;
	border: 0 !important;
	transition: all 200ms ease-in-out;

	&:active {
		transition-delay: -75ms;
		background-color: #51565c6e;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 !important;
	}
}
#navbarCollapse1 {
	margin-right: 7em;
}

.navbar-brand {
	img {
		width: 50px;
		height: auto;
	}
}

.sticky {
	position: fixed;
}

@media screen and (max-width: 992px) {
	.navbar-brand {
		margin-left: 1.5rem;
	}
	.navbar-collapse {
		margin-left: 1.25rem;
	}
}

@media screen and (max-width: 378px) {
	//Eliminar el contenido del brand para que no se rompa la estructura del navbar
	/* .navbar-brand {
	} */
}
