@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");
#tsparticles {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#tsparticles .tsparticles-canvas-el {
  height: 100vh !important;
}

/*FIN PARTICLES*/
.jumpboton {
  overflow: hidden;
  background: #ff7f00;
  background: linear-gradient(86deg, #f47900 0%, #ed8f00 100%);
  transition: all 400ms ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jumpboton .contenedor-img {
  width: 100%;
  height: inherit;
  position: absolute;
  background-image: url("../assets/banner.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.banner-container {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 2;
  margin-bottom: 50px;
}
.banner-container .information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  height: auto;
  text-align: left;
  padding-right: 30px;
}
.banner-container .information .hero-title, .banner-container .information .title-paragraph {
  color: #fffbf0;
  text-shadow: 1px 1px 5px #272727;
}
.banner-container .information .title-paragraph {
  font-weight: 300;
  margin-top: 50px;
}
.banner-container .isometric-ill {
  height: auto;
  filter: drop-shadow(0px 5px 3px #862b0123);
  transition: all 200ms ease-in-out !important;
}

.cls-1 {
  position: relative;
  bottom: -1px;
  fill: #f6fafd;
  transition: all 250ms ease-in-out;
}

.bottome-wave {
  position: relative;
  bottom: -1px;
  /* background-image: url("../assets/wave.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  z-index: 1; */
}

@media screen and (min-width: 1030px) {
  .information p {
    font-size: 1.75em;
  }

  .isometric-ill {
    width: 400px;
  }
}
@media screen and (max-width: 1029px) {
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-container .information {
    width: 100%;
    padding-right: 0px;
  }
  .banner-container .information .hero-title, .banner-container .information .title-paragraph {
    margin-top: 50px;
  }
  .banner-container .information .title-paragraph {
    margin-top: 0px;
    font-size: 1.75em;
  }
  .banner-container .isometric-ill {
    width: 300px;
  }
}
@media screen and (max-width: 771px) {
  .hero-title, .banner-container .information .title-paragraph {
    font-size: 2em;
  }

  .title-paragraph {
    margin-top: 10px !important;
    font-size: 1.25em !important;
  }

  .isometric-ill {
    width: 250px !important;
  }
}
@media screen and (max-width: 700px) {
  .hero-title, .banner-container .information .title-paragraph {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 320px) {
  .isometric-ill {
    width: 220px !important;
  }
}

/*# sourceMappingURL=header.css.map */
